<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= @article.title %></h4>
          <p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
        </div>
        <div class="card-footer">
          <p>
            <%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning btn-sm' %>
            <%= link_to 'Back', articles_path, class: 'btn btn-info btn-sm' %>
            </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header"><h5>Comments</h5></div>
        <div class="card-block"><%= render @article.comments %></div>
      </div>
    </div>
  </div>
</div>

<%= render 'comments/form' %>