<p id="notice"><%= notice %></p>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title"><%= @article.title %></h4>
          <p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-block">
          <div class="card-title">
            <h5 class="card-title">Comments</h5>
            <%= render @article.comments %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'comments/form' %>